.App {
  text-align: center;
}
.button-add {
  cursor: pointer;
  height: 56px;

  /*position: absolute;*/
  /*right: 64px;*/
}

.todo-list {
  display: block;
}

.strike-out {
  text-decoration: line-through;
}

.todo-item {
  display: flex;
  cursor: pointer;

  width: 300px;
  height: auto;
  min-height: 40px;
  margin: 10px auto 0 auto;
  padding-top: 15px;
  border: 1px solid black;
  border-radius: 10px;
}

.item-text {
  display: inline-block;
  cursor: pointer;
  width: 275px;

}

.delete-item {
  display: inline-block;
  cursor: pointer;
  float: right;
  font-size: 22px;

}

.form-items .form-input {
  width: 236px;
}